{% extends "gallery/base.html" %}

{% block body %}
  <h1 class="title"><a href="/gallery">Photo Gallery:</a></h1>
  
  <div class="navigation">
    <a href="/gallery/">Photo Gallery Index</a>
    

    <span>&gt;
     {% if request.openid %}    
        Logged in as {{ request.openid }}. 
        <a href="/gallery/openid/signout/?next={{slug}}">Signout</a>
     {% else %}
        <a href="/gallery/openid/?next={{slug}}">Sign in</a>
     {% endif %}


    {% if tag.url %}

    <!-- TODO: display horizontal tag hierarchy here -->

      <span>&gt;<a href="{{ tag.url }}">
	{{ tag.name }}
	{% if tag.get_description %}
	: {{ tag.get_description }}
	{% endif %}
      </a></span>
    {% else %}
      {% if tag_name %}
        <!-- TODO: add form submit -->
	<input type="text" value="{{ tag_name }}" />
      {% endif %}
    {% endif %}

    {% if photo.id %}
    <span>&gt;
      Photo {{ photo.id }}</span>
    {% endif %}

    {% if human_date %}
    <span>&gt;
      Photos taken on {{human_date}}</span>
    {% endif %}




  </div>

{% block in_body %}
{% endblock %}
{% endblock %}
