{% extends "gallery/base.html" %}

{% block body %}

{% for roll in rolls %}
<p class="roll">
<a style="text-decoration: none; font-weight: bold;"
   href="{{ roll.url }}" class="roll-title">{{ roll.date }}</a>
     <br/>
  {% for photo in roll.photo_set.all|slice:":7" %}
     <a href="{{ photo.url }}"><img src="{{ photo.get_exported.thumb_url }}"></img></a>
  {% endfor %}

     <br/>
       {% for tag in roll.tags %}
        <a href="{{tag.url}}">{{tag.name}}</a>
       {% endfor %}
     <br/>
</p>
{% endfor %}

{% endblock %}
