{% extends "gallery/base_tag_photo.html" %}
{% block title %}
Tag: {{tag_name}}{% endblock %}
{% block in_body %}

  {% for photo in photos %}
     {% if tag %}
     <a href="{{ photo.url }}{{ tag.name|slugify }}">
     {% else %}
     <a href="{{ photo.url }}/">
     {% endif %}
       <img title="{{photo.get_hits}} hits" 
	    src="{{ photo.get_exported.thumb_url }}"></img>
     </a>
  {% endfor %}  

  <br/>
  {% ifnotequal nb_pages 1 %}
   {% ifnotequal page 1 %}
     <a href="{{ slug }}/{{ page|add:"-1" }}">Previous</a>
   {% endifnotequal %}
   {% for page_nb in total_pages %}
     {% ifnotequal forloop.counter page %}
        <a href="{{ slug }}/{{ forloop.counter }}">{{forloop.counter}}
        </a>
     {% else %}
        {{forloop.counter}}
     {% endifnotequal %}
        &nbsp;
   {% endfor %}
   {% ifnotequal page nb_pages %}
      <a href="{{ slug }}/{{ page|add:"1" }}">Next</a>
   {% endifnotequal %}
  {% endifnotequal %}

{% endblock %}
